---
layout: default
---

<!-- Right-aligned quotation at the top, outside the grid layout -->
<div class="text-end fst-italic mb-5">
  <div class="text-end mb-5">
      <p class="fst-italic mb-0">"A ciência não é uma ilusão. A ilusão é a nossa crença de que a ciência pode responder a tudo."</p>
      <p class="mb-0" style="font-style: normal;">– Adélia Prado in "O Coração Disparado"</p>
  </div>
</div>

<div class="row g-3 mb-5">
  <div class="col-md-5 order-md-2 d-flex align-items-center justify-content-center justify-content-md-end">
    <img src="{{ site.github.url }}/assets/img/Riva_Raul_Fall2019_Small.jpeg" alt="Home" class="img-fluid mb-3" style="width: 550px; height: auto;">
  </div>
  <div class="col-md-7 order-md-1 ps-3">
    <h2 class="fw-bold">Welcome!</h2>
    {{ content }}
  </div>
</div>
