---
layout: default
---

<!-- Right-aligned quotation at the top, outside the grid layout -->
<div style="text-align: right; margin-bottom: 40px;">
  <i>
    "In God we trust, all others must bring data."<br>
  </i>
  Edward Deming
</div>

<!-- <div class="row g-5 mb-5"> -->
  <!-- <div class="col-md-6"> -->
    <!-- <h2 class="fw-bold">Welcome!</h2> -->
    <!-- {{ content }} -->
  <!-- </div> -->
  <!-- <div class="col-md-6 d-flex align-items-center justify-content-end"> -->
    <!-- <img src="{{ site.github.url }}/assets/img/Raul_Fall_2019.jpeg" alt="Home" style="width: 500px; height: auto;"> -->
  <!-- </div> -->
<!-- </div> -->

<div class="row g-4 mb-5">
  <div class="col-md-5 order-md-1 d-flex align-items-center justify-content-begin">
    <img src="{{ site.github.url }}/assets/img/Riva_Raul_Fall2019_Small.jpeg" alt="Home" style="width: 650px; height: auto;">
  </div>
  <div class="col-md-6 order-md-2 ps-0">
    <h2 class="fw-bold">Welcome!</h2>
    {{ content }}
  </div>
</div>